In [10]:
import numpy as np
import os, requests
import pandas as pd

In [11]:
df_styles = pd.read_csv(os.path.join('data', 'styles.csv'), on_bad_lines='skip')
df_styles = df_styles[df_styles['masterCategory'] == 'Apparel']
df_styles['id'] = df_styles['id'].astype(str) + '.jpg'
df_styles.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970.jpg,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386.jpg,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
3,21379.jpg,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759.jpg,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
5,1855.jpg,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt

In [12]:
df_images = pd.read_csv(os.path.join('data', 'images.csv'), on_bad_lines='skip')
df_images.head()

    filename                                               link
0  15970.jpg  http://assets.myntassets.com/v1/images/style/p...
1  39386.jpg  http://assets.myntassets.com/v1/images/style/p...
2  59263.jpg  http://assets.myntassets.com/v1/images/style/p...
3  21379.jpg  http://assets.myntassets.com/v1/images/style/p...
4  53759.jpg  http://assets.myntassets.com/v1/images/style/p...

In [13]:
# randomly choose 1000 images
df_images = df_images.sample(n=1000)
# df_styles = df_styles[df_styles['id'].isin(df_images['filename'])]

# sample 1000 images common in both dataframes
df_styles = df_styles[df_styles['id'].isin(df_images['filename'])]
df_images = df_images[df_images['filename'].isin(df_styles['id'])]


df_images.to_csv(os.path.join('preprocessed_data', 'images.csv'), index=False)
df_styles.to_csv(os.path.join('preprocessed_data', 'styles.csv'), index=False)

In [14]:
df_styles

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
72,9660.jpg,Men,Apparel,Topwear,Shirts,Pink,Fall,2011.0,Casual,Indigo Nation Men Reversible Bling Pink Shirts
189,40143.jpg,Girls,Apparel,Topwear,Tops,Blue,Summer,2012.0,Casual,Gini and Jony Girls Pretty Blossom Blue Top
258,31312.jpg,Women,Apparel,Topwear,Kurtas,Peach,Summer,2012.0,Ethnic,W Women Peach Kurta
265,7355.jpg,Men,Apparel,Topwear,Tshirts,Navy Blue,Fall,2011.0,Casual,Tantra Men's Black Sabbath Navy T-shirt
278,11527.jpg,Men,Apparel,Topwear,Tshirts,Olive,Fall,2011.0,Casual,United Colors of Benetton Men Olive Tshirts
...,...,...,...,...,...,...,...,...,...,...
43880,3789.jpg,Men,Apparel,Topwear,Tshirts,White,Summer,2011.0,Casual,Basics Men White & Green Striped Polo T-shirt
43889,4331.jpg,Unisex,Apparel,Topwear,Tshirts,Orange,Summer,2011.0,Casual,Tantra Kid's Unisex Naughty Crime Orange Kidswear
44275,20016.jpg,Women,Apparel,Topwear,Tops,Pink,Summer,2012.0,Casual,United Colors of Benetton Women Printed Pink Top
44276,52436.jpg,Women,Apparel,Loungewear and Nightwear,Nightdress,Red,Summer,2017.0,Casual,Red Rose Women Red Nightdress
44373,57382.jpg,Women,Apparel,Innerwear,Briefs,Black,Winter,2015.0,Casual,Amante Women Pack of 2 Briefs PFCN03

In [15]:
df_images

        filename                                               link
2574   13472.jpg  http://assets.myntassets.com/v1/images/style/p...
36545  37117.jpg  http://assets.myntassets.com/v1/images/style/p...
15942  32208.jpg  http://assets.myntassets.com/v1/images/style/p...
43557   7549.jpg  http://assets.myntassets.com/v1/images/style/p...
28736  33964.jpg  http://assets.myntassets.com/v1/images/style/p...
...          ...                                                ...
38569  54081.jpg  http://assets.myntassets.com/v1/images/style/p...
5595   59716.jpg  http://assets.myntassets.com/v1/images/style/p...
26324  26799.jpg  http://assets.myntassets.com/v1/images/style/p...
40893  34246.jpg  http://assets.myntassets.com/v1/images/style/p...
17398  56855.jpg  http://assets.myntassets.com/v1/images/style/p...

[467 rows x 2 columns]

In [16]:
df_images

        filename                                               link
2574   13472.jpg  http://assets.myntassets.com/v1/images/style/p...
36545  37117.jpg  http://assets.myntassets.com/v1/images/style/p...
15942  32208.jpg  http://assets.myntassets.com/v1/images/style/p...
43557   7549.jpg  http://assets.myntassets.com/v1/images/style/p...
28736  33964.jpg  http://assets.myntassets.com/v1/images/style/p...
...          ...                                                ...
38569  54081.jpg  http://assets.myntassets.com/v1/images/style/p...
5595   59716.jpg  http://assets.myntassets.com/v1/images/style/p...
26324  26799.jpg  http://assets.myntassets.com/v1/images/style/p...
40893  34246.jpg  http://assets.myntassets.com/v1/images/style/p...
17398  56855.jpg  http://assets.myntassets.com/v1/images/style/p...

[467 rows x 2 columns]

In [17]:
df_styles

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
72,9660.jpg,Men,Apparel,Topwear,Shirts,Pink,Fall,2011.0,Casual,Indigo Nation Men Reversible Bling Pink Shirts
189,40143.jpg,Girls,Apparel,Topwear,Tops,Blue,Summer,2012.0,Casual,Gini and Jony Girls Pretty Blossom Blue Top
258,31312.jpg,Women,Apparel,Topwear,Kurtas,Peach,Summer,2012.0,Ethnic,W Women Peach Kurta
265,7355.jpg,Men,Apparel,Topwear,Tshirts,Navy Blue,Fall,2011.0,Casual,Tantra Men's Black Sabbath Navy T-shirt
278,11527.jpg,Men,Apparel,Topwear,Tshirts,Olive,Fall,2011.0,Casual,United Colors of Benetton Men Olive Tshirts
...,...,...,...,...,...,...,...,...,...,...
43880,3789.jpg,Men,Apparel,Topwear,Tshirts,White,Summer,2011.0,Casual,Basics Men White & Green Striped Polo T-shirt
43889,4331.jpg,Unisex,Apparel,Topwear,Tshirts,Orange,Summer,2011.0,Casual,Tantra Kid's Unisex Naughty Crime Orange Kidswear
44275,20016.jpg,Women,Apparel,Topwear,Tops,Pink,Summer,2012.0,Casual,United Colors of Benetton Women Printed Pink Top
44276,52436.jpg,Women,Apparel,Loungewear and Nightwear,Nightdress,Red,Summer,2017.0,Casual,Red Rose Women Red Nightdress
44373,57382.jpg,Women,Apparel,Innerwear,Briefs,Black,Winter,2015.0,Casual,Amante Women Pack of 2 Briefs PFCN03

In [18]:
def download_image(url, filename):
    filename = os.path.join('images', filename)
    r = requests.get(url, allow_redirects=True)
    open(filename, 'wb').write(r.content)

In [19]:
# download images
for url, filename in zip(df_images['link'], df_images['filename']):
    download_image(url, filename)